@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");
:root {
  --main: #991c20;
  --gray: rgb(226, 226, 226);
}
body {
  font-family: "Inter", sans-serif;
  margin: 0 0 0 0;
}

header {
  background-color: var(--main);
  color: white;
  padding: 40px 0;
}

.container {
  width: 850px;
  margin: auto;
  padding-right: 50px;
  padding-left: 50px;
}

aside {
  flex: 0;
  border-left: 2px solid var(--gray);
  padding-left: 40px;
  padding-top: 16px;
}

aside a {
  display: inline-flex;
  align-items: center;
  margin: 12px 0;
}

a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

ion-icon {
  margin-right: 10px;
  font-size: 24px;
  color: var(--main);
}

main {
  display: flex;
}

main > div {
  padding-right: 40px;
  padding-bottom: 40px;
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
  margin: 16px 0 0 0;
  padding: 0;
}
ul ul {
  margin-top: 4px;
}

ul li {
  display: flex;
}

ul li::before {
  content: "\2022";
  color: var(--main);
  font-weight: bold;
  /* display: inline-block; */
  margin: 0 8px;
  /* width: 1em;
  margin-left: -1em; */
}
li {
  margin: 3px 0;
}

.date {
  font-style: italic;
  margin-top: 5px;
  font-weight: 200;
  color: #595959;
  font-size: 14px;
}

h1 {
  margin: 0;
  font-style: italic;
  font-size: 36px;
}
h2 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-style: italic;
  color: var(--main);
}

h3 {
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 30px;
}

h2 + h3 {
  margin-top: 10px;
}

aside > div {
  top: 30px;
  position: sticky;
}

.languages li {
  display: initial;
}

.languages li::before {
  content: none;
}

.level-container {
  display: flex;
}

.level-container > div {
  width: 30px;
  height: 6px;
  background-color: var(--gray);
  transform: skew(-20deg);
  margin-bottom: 12px;
  margin-top: 5px;
  margin-right: 5px;
}

.level-container > .active {
  background-color: var(--main);
}
